.bubbled .bubble-canvas {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bubbled * {
    z-index: 1;
}

.bubbled {
    position: relative;
}